<nz-form-item>
  <nz-form-label [nzSpan]="6" nzFor="{{property.name}}">
    <span>{{property.displayName}}</span>
  </nz-form-label>
  <nz-form-control [ngSwitch]="property.inputType" [nzSpan]="18">
    <nz-input-group style="width: 100%;">
      <input *ngSwitchCase="'text'" nz-input type="text" [(ngModel)]="value" />
      <nz-input-number *ngSwitchCase="'number'" [(ngModel)]="value"></nz-input-number>
      <nz-date-picker *ngSwitchCase="'date'" [(ngModel)]="value"></nz-date-picker>
      <nz-time-picker *ngSwitchCase="'time'" [(ngModel)]="value"></nz-time-picker>
      <input *ngSwitchCase="'password'" nz-input type="password" [(ngModel)]="value" />
      <input *ngSwitchCase="'url'" nz-input type="url" [(ngModel)]="value" />
      <input *ngSwitchCase="'color'" nz-input type="color" [(ngModel)]="value" />
      <label *ngSwitchCase="'boolean'" nz-checkbox [(ngModel)]="value"></label>
      <div *ngSwitchCase="'enum'">
        <nz-select *ngIf="canBeDisabled || property.allowedValues.length > 6" style="width: 100%;" [(ngModel)]="value"
          nzPlaceHolder="Choose">
          <nz-option *ngFor="let si of property.allowedValues" nzValue="{{si}}" nzLabel="{{property.allowedValuesMap[si]}}"></nz-option>
        </nz-select>
        <nz-radio-group *ngIf="!canBeDisabled && property.allowedValues.length <= 6" [(ngModel)]="value">
          <label *ngFor="let si of property.allowedValues" nz-radio-button nzValue="{{si}}">{{property.allowedValuesMap[si]}}</label>
        </nz-radio-group>
      </div>
      <app-json-schema *ngSwitchCase="'json'" [(ngModel)]="value" [schema]="property.jsonSchema"></app-json-schema>
      <nz-select *ngSwitchCase="'duration'" [(ngModel)]="value" style="width: 100%;">
        <nz-option nzLabel="10 seconds" nzValue="PT10S"></nz-option>
        <nz-option nzLabel="20 seconds" nzValue="PT20S"></nz-option>
        <nz-option nzLabel="30 seconds" nzValue="PT30S"></nz-option>
        <nz-option nzLabel="45 seconds" nzValue="PT45S"></nz-option>
        <nz-option nzLabel="1 minute" nzValue="PT1M"></nz-option>
        <nz-option nzLabel="2 minutes" nzValue="PT2M"></nz-option>
        <nz-option nzLabel="3 minutes" nzValue="PT3M"></nz-option>
        <nz-option nzLabel="5 minutes" nzValue="PT5M"></nz-option>
        <nz-option nzLabel="10 minutes" nzValue="PT10M"></nz-option>
        <nz-option nzLabel="15 minutes" nzValue="PT15M"></nz-option>
        <nz-option nzLabel="20 minutes" nzValue="PT20M"></nz-option>
        <nz-option nzLabel="30 minutes" nzValue="PT30M"></nz-option>
        <nz-option nzLabel="45 minutes" nzValue="PT45M"></nz-option>
        <nz-option nzLabel="1 hour" nzValue="PT1H"></nz-option>
        <nz-option nzLabel="2 hours" nzValue="PT2H"></nz-option>
        <nz-option nzLabel="3 hours" nzValue="PT3H"></nz-option>
        <nz-option nzLabel="6 hours" nzValue="PT6H"></nz-option>
        <nz-option nzLabel="8 hours" nzValue="PT8H"></nz-option>
        <nz-option nzLabel="12 hours" nzValue="PT12H"></nz-option>
        <nz-option nzLabel="1 day" nzValue="PT24H"></nz-option>
      </nz-select>
      <textarea *ngSwitchCase="'sql'" [(ngModel)]="value" style="width: 100%; min-height: 5em;"></textarea>
      <pre *ngSwitchDefault>Input of type '{{property.inputType}}' is not yet supported</pre>
    </nz-input-group>
    <nz-form-extra *ngIf="property.description !== null">{{property.description}}</nz-form-extra>
  </nz-form-control>
</nz-form-item>
