<#ftl output_format="HTML">
<#import "../configurationItemEditor.ftl" as configEditor>

<form method="POST" class="form-horizontal">
	<!-- invisible default button -->
	<button type="submit" name="action" value="configureInstance" style="position:absolute;left:-999px;top:-999px;height:0;width:0;">Save configuration</button>
	<!-- main form -->
	<input type="hidden" name="id" value="${eventSourceInstance.id}"/>
	<input type="hidden" name="type" value="eventSource"/>
	<div class="panel panel-default">
		<div class="panel-body">
			<h3>${eventSourceInstance.name}<#if !eventSourceInstance.enabled> <small>disabled</small></#if></h3>
			<div class="form-group">
				<label class="control-label col-sm-3">Event Source Name</label>
				<div class="col-sm-9">
					<div class="input-group">
						<input class="form-control col-sm-10" type="text" name="name" value="${eventSourceInstance.name}"/>
						<#if eventSourceInstance.descriptor.serviceClass??>
						<span class="input-group-addon" style="border-right: none">Running:</span>
						<input class="form-control" type="text" value="${dashboardManager.isRunning(eventSourceInstance)?string('yes','no')}" readonly="readonly"/>
						</#if>
						<span class="input-group-btn">
							<#if eventSourceInstance.enabled && eventSourceInstance.descriptor.serviceClass??>
							<#if dashboardManager.isRunning(eventSourceInstance)>
								<button class="btn btn-danger stopEventSourceButton" data-type="stop" type="submit" name="action" value="stopEventSource" onclick="javascript:return confirm('Do you really want to stop the event source ${eventSourceInstance.name}?');" title="Stop event source">&nbsp;<span class="glyphicon glyphicon-stop" ></span>&nbsp;</button>
							<#else>
								<button class="btn btn-success startEventSourceButton" data-type="start" type="submit" name="action" value="startEventSource" onclick="javascript:return confirm('Do you really want to start the event source ${eventSourceInstance.name}?');" title="Start event source">&nbsp;<span class="glyphicon glyphicon-play" ></span>&nbsp;</button>
							</#if>
							</#if>
							<button class="btn btn-default" data-type="info" type="button" name="action" data-toggle="collapse" data-target="#ev_info_${eventSourceInstance.id}" title="Show event source information">&nbsp;<span class="glyphicon glyphicon-option-vertical" ></span>&nbsp;</button>
						</span>
					</div>
					<span class="help-block">The name of the event source that will be displayed when creating widgets. Use a speaking name here.</span>
				</div>
			</div>
			<div class="collapse" id="ev_info_${eventSourceInstance.id}">
				<div class="form-group">
					<label class="control-label col-sm-3 text-muted">Created by</label>
					<div class="col-sm-9">
						<div class="input-group">
							<input class="form-control" type="text" value="${eventSourceInstance.createdBy}" readonly="readonly"/>
							<span class="input-group-addon" style="border-right: none">Last changed by:</span>
							<input class="form-control" type="text" value="${eventSourceInstance.lastChangeBy}" readonly="readonly"/>
						</div>
					</div>
				</div>
				<#if eventSourceInstance.descriptor.serviceClass??>
				<div class="form-group">
					<label class="control-label col-sm-3 text-muted">Java Class</label>
					<div class="col-sm-9">
						<div class="input-group">
							<input class="form-control" type="text" value="${eventSourceInstance.descriptor.serviceClass.name}" readonly="readonly"/>
							<span class="input-group-addon" style="border-right: none">ID:</span>
							<input class="form-control" type="text" value="${eventSourceInstance.id}" readonly="readonly"/>
						</div>
					</div>
				</div>
				<#if eventSourceInstance.descriptor.scheduledService>
				<div class="form-group">
					<label class="control-label col-sm-3 text-muted">Last Run</label>
					<div class="col-sm-9">
						<div class="input-group">
							<input class="form-control" type="text" value="${(dashboardManager.getLastRun(eventSourceInstance))!"never"}" readonly="readonly"/>
							<span class="input-group-addon" style="border-right: none">Last Success:</span>
							<input class="form-control" type="text" value="${(dashboardManager.getLastSuccessfulRun(eventSourceInstance))!"never"}" readonly="readonly"/>
						</div>
					</div>
				</div>
				<#if dashboardManager.getLastFailureDateTime(eventSourceInstance)??>
				<div class="form-group">
					<label class="control-label col-sm-3 text-danger">Last Failure</label>
					<div class="col-sm-9">
						<div class="input-group">
							<input class="form-control" type="text" value="${(dashboardManager.getLastFailureDescription(eventSourceInstance))!"never"}" readonly="readonly"/>
							<span class="input-group-addon" style="border-right: none">Timestamp:</span>
							<input class="form-control" type="text" value="${(dashboardManager.getLastFailureDateTime(eventSourceInstance))!"never"}" readonly="readonly"/>
						</div>
					</div>
				</div>
				<#if dashboardManager.getLastFailureException(eventSourceInstance)??>
				<div class="form-group">
					<label class="control-label col-sm-3 text-danger">Last Exception</label>
					<div class="col-sm-9">
						<textarea class="form-control" readonly="readonly" style="font-family: monospace; white-space: pre;" rows="14">${dashboardManager.getLastFailureException(eventSourceInstance)!"none"}</textarea>
					</div>
				</div>
				</#if> <!--  -->
				</#if>
				</#if>
				</#if>
				<div class="form-group">
					<label class="control-label col-sm-3 text-muted">View</label>
					<div class="col-sm-9">
						<input class="form-control" type="text" value="${eventSourceInstance.descriptor.view}" readonly="readonly"/>
					</div>
				</div>
			</div>
			<#if eventSourceInstance.frequency??>
			<div class="form-group">
				<label class="control-label col-sm-3" title="How often should the event source send new events">Update Frequency</label>
				<div class="controls col-sm-9">
					<select class="form-control selectpicker no-search" id="${eventSourceInstance.id}.frequency" name="frequency">
						<optgroup label="below 1 minute">
							<option <#if eventSourceInstance.frequency=="PT10S"> selected="selected"</#if> value="PT10S">10 seconds</option>
							<option <#if eventSourceInstance.frequency=="PT20S"> selected="selected"</#if> value="PT20S">20 seconds</option>
							<option <#if eventSourceInstance.frequency=="PT30S"> selected="selected"</#if> value="PT30S">30 seconds</option>
							<option <#if eventSourceInstance.frequency=="PT45S"> selected="selected"</#if> value="PT45S">45 seconds</option>
						</optgroup>
						<optgroup label="below 1 hour">
							<option <#if eventSourceInstance.frequency=="PT1M"> selected="selected"</#if> value="PT1M">1 minute</option>
							<option <#if eventSourceInstance.frequency=="PT2M"> selected="selected"</#if> value="PT2M">2 minutes</option>
							<option <#if eventSourceInstance.frequency=="PT3M"> selected="selected"</#if> value="PT3M">3 minutes</option>
							<option <#if eventSourceInstance.frequency=="PT5M"> selected="selected"</#if> value="PT5M">5 minutes</option>
							<option <#if eventSourceInstance.frequency=="PT10M"> selected="selected"</#if> value="PT10M">10 minutes</option>
							<option <#if eventSourceInstance.frequency=="PT15M"> selected="selected"</#if> value="PT15M">15 minutes</option>
							<option <#if eventSourceInstance.frequency=="PT20M"> selected="selected"</#if> value="PT20M">20 minutes</option>
							<option <#if eventSourceInstance.frequency=="PT30M"> selected="selected"</#if> value="PT30M">30 minutes</option>
							<option <#if eventSourceInstance.frequency=="PT45M"> selected="selected"</#if> value="PT45M">45 minutes</option>
						</optgroup>
						<optgroup label="1 hour and more">
							<option <#if eventSourceInstance.frequency=="PT1H"> selected="selected"</#if> value="PT1H">1 hour</option>
							<option <#if eventSourceInstance.frequency=="PT2H"> selected="selected"</#if> value="PT2H">2 hours</option>
							<option <#if eventSourceInstance.frequency=="PT3H"> selected="selected"</#if> value="PT3H">3 hours</option>
							<option <#if eventSourceInstance.frequency=="PT6H"> selected="selected"</#if> value="PT6H">6 hours</option>
							<option <#if eventSourceInstance.frequency=="PT8H"> selected="selected"</#if> value="PT8H">8 hours</option>
							<option <#if eventSourceInstance.frequency=="PT12H"> selected="selected"</#if> value="PT12H">12 hours</option>
							<option <#if eventSourceInstance.frequency=="PT1D"> selected="selected"</#if> value="PT24H">1 day</option>
						</optgroup>
					</select> 
					<span class="help-block">How often shall this event source send its events?</span>
				</div>
			</div>
			</#if>
			<#list eventSourceInstance.descriptor.properties as property>
				<@configEditor.configurationEditor
					name                = eventSourceInstance.id+".property."+property.name 
					id                  = eventSourceInstance.id+"__property__"+property.name 
					label               = property.displayName 
					description         = property.description!""
					type                = property.inputType 
					hasEnableSwitch     = false 
					isEnabled           = true 
					currentValue        = eventSourceInstance.getPropertyValueString(property)
					allowedValues       = property.allowedValuesMap?keys
					allowedValuesLabels = property.allowedValuesMap?values
					customValuesAllowed = false 
					schema              = property.jsonSchema
					labelClass          = ""
					/>
			</#list>
			<#if eventSourceInstance.descriptor.dataItems?size != 0><hr/></#if>
			<#list eventSourceInstance.descriptor.dataItems as dataItem>
				<@configEditor.configurationEditor
					name                = eventSourceInstance.id+".data."+dataItem.name 
					id                  = eventSourceInstance.id+"__data__"+dataItem.name
					label               = dataItem.displayName 
					description         = dataItem.description!""
					type                = dataItem.inputType 
					hasEnableSwitch     = true 
					isEnabled           = (eventSourceInstance.hasPropertyValue(dataItem)) 
					currentValue        = (eventSourceInstance.getPropertyValueString(dataItem))!"" 
					allowedValues       = dataItem.allowedValuesMap?keys
					allowedValuesLabels = dataItem.allowedValuesMap?values
					customValuesAllowed = dataItem.customValuesAllowed
					schema              = ""
					labelClass          = "info"
					/>
			</#list>
		</div>
		<#assign dashboards=dashboardManager.getDashboardsWhereEventSourceIsUsed(eventSourceInstance)>
		<#if usages?has_content>
			<div class="panel-heading">
				Usage
			</div>
			<ul class="list-group">
				<#list dashboards as dashboard>
				<li class="list-group-item"><a href="/${dashboard.id}" target="_blank">${dashboard.id}</a></li>
				</#list>
			</ul>
		</#if>
		<script type="text/javascript">
		$('select.selectpicker').each(function(){
			if($(this).hasClass('select2-done')) {
				return;
			}
			
			var options = { theme : "bootstrap" };
			if(!$(this).hasClass('with-search')) {
				options.minimumResultsForSearch = -1;
			}
			if($(this).hasClass('custom-values-allowed')) {
				options.minimumResultsForSearch = 1;
				options.tags = true;
			}
			
			$(this).addClass('select2-done');
			$(this).select2(options);
		});
		</script>
		<div class="panel-footer">
			<button class="btn btn-danger deleteEventSourceInstanceButton" data-type="delete" type="submit" name="action" value="deleteInstance" onclick="javascript:return confirm('Do you really want to delete the event source ${eventSourceInstance.name}?');">Delete</button>
			<#if !eventSourceInstance.enabled>
				<button class="btn btn-success switchEventSourceInstanceButton" data-type="enable" type="submit" name="action" value="enableInstance">Enable</button>
			<#else>
				<button class="btn btn-warning switchEventSourceInstanceButton" data-type="disable" type="submit" name="action" value="disableInstance">Disable</button>
			</#if>
			<button class="btn btn-primary pull-right" data-type="save" type="submit" name="action" value="configureInstance">Save configuration</button>
		</div>
	</div>
</form>
