<#ftl output_format="HTML">
<#import "../configuration_layout.ftl.html" as layout>
<@layout.ConfigurationLayout "Configure Event Sources" "server.dashboard.owner">

<div class="row">
	<div class="col-md-8 col-sm-8 col-xs-12">
		<h2>Configure Event Sources</h2>
	</div>

	<#if eventSourceInstances?has_content>
		<div class="col-md-4 col-sm-4 col-xs-12" style="margin-top:20px">
			<form>
				<label class="sr-only" for="search">Filter</label>
				<div class="input-group">
					<input type="text" class="form-control input-search" name="filterEventSources" id="filterEventSourcesSearch" placeholder="Filter Event Sources" data-searchData="{}">
					<span class="input-group-addon group-icon">
						<span class="glyphicon glyphicon-search" ></span>
					</span>
				</div>
			</form>
		</div>
	</#if>
</div>


<#if eventSourceInstances?has_content>
	<div class="panel panel-default">
		<div class="panel-body" id="tabs">
			<ul class="list-inline nav nav-pills" id="filterEventSourcesSearchList">
				<#list eventSourceInstances as eventSourceInstance>
					<li<#if eventSourceInstance?counter==1> class="active"</#if> data-eventSource="${eventSourceInstance.id}">
						<a class="<#if eventSourceInstance.descriptor.serviceClass??><#if dashboardManager.hasException(eventSourceInstance)>text-danger </#if><#if !dashboardManager.isRunning(eventSourceInstance)>text-muted </#if><#else>text-warning </#if>" <#if !eventSourceInstance.enabled>style="text-decoration: line-through"</#if> data-toggle="pill" href="#${eventSourceInstance.id}" data-url="?eventSource=${eventSourceInstance.id}">
							${eventSourceInstance.name}
						</a>
					</li>
				</#list>
			</ul>
		</div>
	</div>
</#if>
<div class="tab-content">
	<#if eventSourceInstances?has_content>
		<#list eventSourceInstances as eventSourceInstance>
			<#assign activeItem = eventSourceInstance?counter==1>
			<#assign activeIndex = eventSourceInstance?counter>
			<div class="tab-pane <#if activeItem>in active</#if>" id="${eventSourceInstance.id}">
				<#if activeItem>
					<#include 'eventSourceInstance.ftl.html'>
				<#else>
					<div class="panel panel-default">
						<div class="panel-body">
							Loading event source configuration...
						</div>
					</div>
				</#if>
			</div>
		</#list>
	<#else>
		<div class="jumbotron">
			<h1>Create Event Sources</h1>
			<p><a href="createEventSource">Create Event Sources</a> to get started.</p>
			<p>All the event sources can later be used to create widgets from them. These widgets can be displayed on any dashboard.</p>
		</div>
	</#if>
</div>

<script type="text/javascript">
	// Load tabs only if needed... this should result in much faster page loading...
	$('#tabs').on('click','.tablink,#filterEventSourcesSearchList a',function (e) {
	 e.preventDefault();
	 var url = $(this).attr("data-url");
	 if (typeof url !== "undefined") {
	     var pane = $(this);
	     var href = this.hash;	
	     // ajax load from data-url
	     $(href).load(url,function(result){      
	         pane.tab('show');
	     });
	 } else {
	     $(this).tab('show');
	 }
	});
	// also load tab content if hash is already in URL
	$('#tabs').ready(function(e){ $(this).find('li.active a').click(); });

	// install search for tabs 
	$(document).ready(function(){
		installOnlineSearch('#filterEventSourcesSearch', '#filterEventSourcesSearchList>li', '?action=search');
	});
</script>

</@layout.ConfigurationLayout>
