<#ftl output_format="HTML">
<#import "../configuration_layout.ftl.html" as layout>
<#import "../roles.ftl.html" as roles>
<@layout.ConfigurationLayout "Troubleshooting" "server.dashboard.owner">

<h2>Log Files</h2>
<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#log-collapse">Today's log file</a>
			</h4>
		</div>
		<div id="log-collapse" class="panel-collapse collapse">
			<pre class="panel-body">${logFileContent}</pre>
		</div>
	</div>
</div>

<h2>Old Events</h2>
<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#event-collapse">All cached events</a>
			</h4>
		</div>
		<div id="event-collapse" class="panel-collapse collapse">
			<ul class="list-group">
				<#list lastEvents as event>
					<li class="list-group-item">
						<a data-toggle="collapse" href="#event_${event.getId()}">${event.getId()}</a>
						<pre id="event_${event.getId()}" class="collapse">${json.toJson(event)}</pre>
					</li>
				<#else>
					<li class="list-group-item">
						No events cached.
					</li>
				</#list>
			</ul>
		</div>
	</div>
</div>

<@roles.ifHasRole principal "server.admin">
<h2>Thread States</h2>
<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#thread-collapse">All running threads</a>
			</h4>
		</div>
		<div id="thread-collapse" class="panel-collapse collapse">
			<ul class="list-group">
				<#list threads as thread>
					<li class="list-group-item">
						<a <#if thread.getState().name()?matches("^.*WAIT.*$") >class="text-muted" </#if> data-toggle="collapse" href="#thread_${thread.getId()}">${thread.getName()}</a>
						<pre id="thread_${thread.getId()}" class="collapse">
<#list thread.getStackTrace() as element>${element}
</#list></pre>
					</li>
				<#else>
					<li class="list-group-item">
						No running threads...
					</li>
				</#list>
			</ul>
		</div>
	</div>
</div>
</@roles.ifHasRole>

<@roles.ifHasRole principal "server.admin">
<h2>Loggers</h2>
<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#logger-collapse">Existing loggers</a>
			</h4>
		</div>
		<div id="logger-collapse" class="panel-collapse collapse">
				<#list loggers as logger>
						<div class="form-group">
							<form method="post">
								<input type="hidden" name="action" value="changeLogLevel" />
								<input type="hidden" name="logger" value="${logger.getName()}" />
								<label class="control-label col-sm-6">${logger.getName()}</label>
								<div class="col-sm-6">
									<div class="btn-group" data-toggle="buttons">
										<#list logLevels as logLevel>
											<label class="btn btn-default <#if logger.getLevel()?? && (logger.getLevel())! == logLevel>active</#if>">
												${logLevel}
												<input onchange="this.form.submit()" name="level" value="${logLevel}" type="radio" <#if logger.getLevel()?? && (logger.getLevel())! == logLevel>checked="checked"</#if>/>
											</label>
										</#list>
									</div>
								</div>
							</form>
						</div>
				</#list>
				<div style="clear:both"></div>
		</div>
	</div>
</div>
</@roles.ifHasRole>

</@layout.ConfigurationLayout>
