<#ftl output_format="HTML">
<#import "../configuration_layout.ftl.html" as layout>
<@layout.ConfigurationLayout "Properties" "server.dashboard.editor">

<h2>Properties</h2>

<div class="panel panel-default">
	<div class="panel-body">
		<ul class="list-inline nav nav-pills" id="filterEventSourcesSearchList">
			<#list typeNames as typeName>
				<li<#if typeName?counter==1> class="active"</#if>>
					<a data-toggle="pill" href="#${typeName}">${typeName}</a>
				</li>
			</#list>
		</ul>
	</div>
</div>

<div class="tab-content">
<#list typeNames as typeName>
	<div class="tab-pane <#if typeName?counter==1> in active</#if>" id="${typeName}">

		<!-- Edit Credentials -->
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-12">
				<h3>${typeName}</h3>
			</div>
		
			<div class="col-md-4 col-sm-4 col-xs-12" style="margin-top:20px">
				<form>
					<label class="sr-only" for="search">Filter</label>
					<div class="input-group">
						<input type="text" class="form-control input-search" name="${typeName}Search" id="${typeName}Search" placeholder="Filter ${typeName}">
						<span class="input-group-addon group-icon">
							<span class="glyphicon glyphicon-search" ></span>
						</span>
					</div>
				</form>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="list-group">
				<div id="${typeName}SearchList">
					<#list values[typeName] as item>
					<div class="list-group-item to-filter">
						<form method="POST" style="margin-bottom:0px;" class="form-inline nonEditable">
							<input type="hidden" name="type" value="${typeName}"/>
							<input type="hidden" name="id" value="${item.id}"/>
							<h4 class="list-group-item-heading ${typeName}-name">${item.name}</h4>
		 					<p class="list-group-item-text col-sm-12 clearfix">
		 						<#list members[typeName] as member>
			 						<span class="col-sm-${member.size}">
			 							<span class="nonEditable">${member.displayName}: <#if member.type != "password"><span class="searchValue">${item[member.name]}</span><#else>&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</#if></span>
			 							<span class="editable">
											<span class="input-group">
												<span class="input-group-addon group-icon">
													<span class="glyphicon glyphicon-${member.icon}" ></span>
												</span>
												<input class="form-control" type="${member.type}" name="edit-${typeName}-${member.name}" value="<#if member.type != "password">${item[member.name]}</#if>"  placeholder="${member.displayName}"/>
											</span>
			 							</span>
			 						</span>
								</#list>
		 						<span class="col-sm-2">
		 							<span class="nonEditable show-on-hover">
										<span class="btn-group">
											<button class="btn btn-default" data-type="edit" name="action" value="switch" type="button" onclick="javascript:$(this).closest('form').toggleClass('editable');$(this).closest('form').toggleClass('nonEditable');return false;"><span class="glyphicon glyphicon-pencil" ></span></button>
										</span>
									</span>
		 							<span class="editable">
										<span class="btn-group">
											<button class="btn btn-default" data-type="cancel" type="button" title="Cancel edit" onclick="javascript:$(this).closest('form').toggleClass('editable');$(this).closest('form').toggleClass('nonEditable');return false;"><span class="glyphicon glyphicon-remove" ></span></button>
											<button class="btn btn-primary" data-type="edit" name="action" value="editValue" type="submit" title="Save changed values"><span class="glyphicon glyphicon-ok" ></span></button>
											<button class="btn btn-danger" data-type="delete" name="action" value="deleteValue" type="submit" title="Delete ${typeName}" onclick="javascript:return confirm('Do you really want to delete this ${typeName}?');"><span class="glyphicon glyphicon-trash" ></span></button>
										</span>
		 							</span>
		 						</span>
		 					</p>
		 					<span class="clearfix"></span>
						</form>
					</div>
					</#list>
					<div class="list-group-item">
						<form method="POST" style="margin-bottom:0px;" class="form-inline">
							<input type="hidden" name="type" value="${typeName}"/>
							<h4>Create ${typeName}</h4>
							<div class="form-group col-sm-12 clearfix">
		 						<#list members[typeName] as member>
									<div class="input-group col-sm-${member.size}">
										<span class="input-group-addon group-icon">
											<span class="glyphicon glyphicon-${member.icon}" ></span>
										</span>
										<input class="form-control" type="${member.type}" name="create-${typeName}-${member.name}" value=""  placeholder="${member.displayName}"/>
									</div>
								</#list>
								<div class="input-group col-sm-1 pull-right">
									<button class="btn btn-default" data-type="create" name="action" value="createValue" type="submit">Create</button>
								</div>
							</div>
							<span class="clearfix"></span>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			installFilterSearch('#${typeName}Search', '#${typeName}SearchList>div.to-filter', '.searchValue');
		});
	</script>
</#list>
</div>

</@layout.ConfigurationLayout>
