<#ftl output_format="HTML">
<#import "../configuration_layout.ftl.html" as layout>
<@layout.ConfigurationLayout "Settings" "server.admin">

<h2>Settings</h2>

<!-- Start and Stop Event Sources -->
<h3>Event Sources</h3>
<div class="panel panel-default">
	<div class="panel-body">
		<form method="POST">
			<button class="btn btn-default" data-type="settings" name="action" value="startAllEventSources" type="submit" onclick="javascript:return confirm('Do you really want to start all event sources?');">Start all event sources</button>
			<button class="btn btn-default" data-type="settings" name="action" value="stopAllEventSources" type="submit" onclick="javascript:return confirm('Do you really want to stop all event sources?');">Stop all event sources</button>
		</form>
	</div>
</div>

<!-- Shut down the server -->
<h3>Life Cycle</h3>
<div class="panel panel-default">
	<div class="panel-body">
		<form method="POST" action="${formUrl}">
			<button class="btn btn-danger" data-type="settings" name="action" value="shutdown" type="submit" onclick="javascript:return confirm('Do you really want to shut down the server?');">Shut down</button>
		</form>
	</div>
</div>

</@layout.ConfigurationLayout>
