<#ftl output_format="HTML">
<#macro ConfigurationLayout title="Configuration" requiredRole="">
	<!DOCTYPE html>
    <html lang="en">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	        <meta http-equiv="X-UA-Compatible" content="IE=edge">

	        <title>${title}</title>
	
			<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
			<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-theme.min.css">
			<link rel="stylesheet" href="/assets/bootstrap-select2/select2.css">
			<link rel="stylesheet" href="/assets/bootstrap-select2/select2-bootstrap.css">
			<link rel="stylesheet" href="/assets/bootstrap-tokenfield/bootstrap-tokenfield.min.css">
			<link rel="stylesheet" href="/assets/bootstrap/css/toastr.min.css">
			<link rel="stylesheet" href="/assets/config/oversigt.css">

			<link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />

			<style>
				.back-to-top {
					cursor: pointer;
					position: fixed;
					bottom: 20px;
					right: 20px;
					display:none;
				}
			</style>

			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			<script type="text/javascript" src="/assets/bootstrap-select2/select2.full.js"></script>
			<script type="text/javascript" src="/assets/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>
			<script type="text/javascript" src="/assets/config/jsoneditor.min.js"></script>
			<script type="text/javascript" src="/assets/config/ace/ace.js" charset="utf-8"></script>
			<script type="text/javascript">
				$.fn.select2.defaults.set( "theme", "bootstrap" );
			</script>
		</head>
		<body>
			<nav class="navbar navbar-default">
			  <div class="container">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">Oversigt</a>
			    </div>
			
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
					<#list menuItems as menuItem>
					<li<#if menuItem.link==activeMenuItem> class="active"</#if>><a href="${menuItem.link}">${menuItem.name}<#if menuItem.link==activeMenuItem>  <span class="sr-only">(current)</span></#if></a></li>
					</#list>
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			        <#if principal?? >
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">${principal.name} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/logout">Log out</a></li>
							<!-- <li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li> -->
						</ul>
					</li>
					</#if>
				  </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container -->
			</nav>

			<script type="text/javascript" src="/assets/moment/moment.js"></script>
			<script type="text/javascript" src="/assets/config/oversigt.js"></script>
			
			<div class="container">
			<#if dashboard?? && dashboard.title??>
				<h1>${dashboard.title} <small>Configuration</small>
				<#if !dashboard.enabled><small style="text-danger">DISABLED</small></#if>
				</h1>
			</#if>
			<#nested/>
			<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
			</div>

			<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="/assets/bootstrap/js/toastr.min.js"></script>
		<script type="text/javascript">
		$('select.selectpicker').each(function(){
			if($(this).hasClass('select2-done')) {
				return;
			}
			
			var options = { theme : "bootstrap" };
			if(!$(this).hasClass('with-search')) {
				options.minimumResultsForSearch = -1;
			}
			if($(this).hasClass('custom-values-allowed')) {
				options.minimumResultsForSearch = 1;
				options.tags = true;
			}
			
			$(this).addClass('select2-done');
			$(this).select2(options);
			//$(this).find('span.select2.select2-container.select2-container--bootstrap').
		});
		</script>
<script type="text/javascript">
	// Javascript to enable link to tab
	var url = document.location.toString();
	if (url.match('#')) {
	    $('.nav-pills a[href="#' + url.split('#')[1] + '"]').tab('show');
	} 
	
	// Change hash for page-reload
	$('.nav-pills a').on('shown.bs.tab', function (e) {
	    window.location.hash = e.target.hash;
	})
	
	// change duration editors...
	// $(".duration").each(function() { $(this).durationPicker() });

	// Back-to-top button
	$(document).ready(function(){
	     $(window).scroll(function () {
	            if ($(this).scrollTop() > 50) {
	                $('#back-to-top').fadeIn();
	            } else {
	                $('#back-to-top').fadeOut();
	            }
	        });
	        // scroll body to 0px on click
	        $('#back-to-top').click(function () {
	            $('#back-to-top').tooltip('hide');
	            $('body,html').animate({
	                scrollTop: 0
	            }, 800);
	            return false;
	        });
	        
	        $('#back-to-top').tooltip('show');
	});	
</script>
		</body>
   	</html>
</#macro>
