<nz-layout *ngIf="isShowingConfiguration(); else plain">
  <nz-header>
    <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: baseline;">
      <h1 style="margin-top: 0.5ex;color: lightcyan;text-shadow: 0 0 5px antiquewhite;">Oversigt</h1>
      <a nz-button [nzType]="'dashed'" (click)="doLogOut()">Logout</a>
    </div>
  </nz-header>
  <nz-layout>
    <!--<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="trigger">-->
    <nz-sider>
      <nz-affix>
        <app-config-menu [isCollapsed]="isCollapsed"></app-config-menu>
      </nz-affix>
    </nz-sider>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="layout"></i>
</ng-template>
<ng-template #plain>
  <router-outlet></router-outlet>
</ng-template>
