<div *ngIf="isShowingConfiguration(); else plain">
  <!--<div style="display: flex; flex-direction: row; justify-content: space-between;align-items: baseline;">
    <h1 style="margin-top: 0.5ex;color: lightcyan;text-shadow: 0 0 5px antiquewhite;">Oversigt</h1>
    <a nz-button [nzType]="'dashed'" (click)="doLogOut()">Logout</a>
  </div>-->
  <div style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: flex-start;">
    <div style="flex-shrink: 0; position: sticky;">
      <app-config-menu [isCollapsed]="isCollapsed"></app-config-menu>
    </div>
    <div style="flex-grow: 1; ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #plain>
  <router-outlet></router-outlet>
</ng-template>
