<div *ngIf="isShowingConfiguration(); else plain" class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <clr-icon shape="box-plot" class="is-solid"></clr-icon>
        <span class="title">Oversigt</span>
      </a>
    </div>
    <div class="header-nav">
      <!-- TODO: highlight active menu item -->
      <a *ngFor="let item of menuItems" routerLink="{{item.link}}" class="nav-link nav-text" [class.active]="getSelectedMenuItemLink() === item.link">{{item.title}}</a>
    </div>
    <!-- TODO: <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for configuration...">
      </label>
    </form>-->
    <div class="header-actions">
      <a (click)="doLogout()" class="nav-link nav-icon"><clr-icon shape="logout"></clr-icon></a>
    </div>
  </header>

  <nav *ngIf="getSelectedMenuItemChildren().length > 0" class="subnav">
    <ul class="nav">
      <li *ngFor="let item of getSelectedMenuItemChildren()" class="nav-item" [class.active]="getSelectedSubMenuItemLink() === item.link">
        <a class="nav-link" routerLink="{{item.link}}">{{item.title}}</a>
      </li>
    </ul>
  </nav>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #plain>
  <router-outlet></router-outlet>
</ng-template>
