<app-header [title]="'Loggers'" [additional]="filterForm"></app-header>
<ng-template #filterForm>
  <div class="clr-control-container">
    <div class="clr-input-wrapper">
      <input class="clr-input" type="text" placeholder="Filter loggers" [(ngModel)]="filter"/>
    </div>
  </div>
</ng-template>

<table *ngIf="loggerInfos.length > 0" class="table table-noborder table-compact">
  <thead>
    <tr>
      <th class="left">Logger</th>
      <th>Log Level</th>
      <th>Effective</th>
      <th class="left" style="width:1%">Set level</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of loggerInfos | filterEventitem: filter">
      <td class="left">{{data.name}}</td>
      <td>{{data.level}}</td>
      <td>{{data.effectiveLevel}}</td>
      <td class="left">
        <div class="btn-group btn-sm">
          <div *ngFor="let level of possibleLogLevels" class="radio btn" [class.effective-level]="data.effectiveLevel === level">
            <input id="rdo-{{level}}-{{data.name}}" name="rdo-{{data.name}}" type="radio" value="{{level}}" [(ngModel)]="data.level">
            <label for="rdo-{{level}}-{{data.name}}" (click)="setLogLevel(data.name, level)">{{level}}</label>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
