<app-header title="System"></app-header>

<nz-collapse>
  <nz-collapse-panel nzHeader="Event sources" nzActive="true">
    <div>
      <nz-button-group>
        <button nz-button nzType="default" (click)="startEventSources()" [attr.disabled]="restartingEventSources ? 'disabled' : null">Start
          all event sources</button>
        <button nz-button nzType="danger" (click)="stopEventSources()" [attr.disabled]="restartingEventSources ? 'disabled' : null">Stop
          all event sources</button>
      </nz-button-group>
    </div>
    <div>
      <nz-progress *ngIf="restartingEventSources" [nzPercent]="restartPrecent" nzStatus="active"></nz-progress>
    </div>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="Server" nzActive="false">
    <button nz-button nzType="danger" (click)="restartDrawerVisible = true">Shut down server</button>
    <nz-drawer [nzClosable]="false" [nzVisible]="restartDrawerVisible" nzPlacement="right" nzTitle="Server Shut Down"
      (nzOnClose)="restartDrawerVisible = false">
      <p>Are you really sure to shut down the oversigt server?</p>
      <nz-button-group>
        <button nz-button nzType="default" (click)="restartDrawerVisible = false">Oh shit, no</button>
        <button nz-button nzType="danger" nz-popconfirm nzTitle="Really?" (nzOnConfirm)="restartServer()" (nzOnCancel)="restartDrawerVisible = false"
          nzOkText="Yes" nzCancelText="Hell, no!">Yes, sure</button>
      </nz-button-group>
    </nz-drawer>
  </nz-collapse-panel>
</nz-collapse>
