<!-- Header stuff -->
<div class="eventsource-config-header">
  <h1>
    <span *ngIf="eventSourceDescriptor !== null">{{parsedInstanceDetails.name}}</span>
    <span *ngIf="eventSourceDescriptor === null" class="spinner spinner-inline">Loading...</span>
  </h1>
  <clr-dropdown>
    <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
      Switch to other event source
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
      <label *ngIf="recentlyUsed.length > 1" class="dropdown-header">Recently used</label>
      <ng-container *ngFor="let es of recentlyUsed; let i = index">
        <a *ngIf="i !== 0" type="button" clrDropdownItem routerLink="../{{es.id}}">{{es.name}}</a>
      </ng-container>
      <div *ngIf="recentlyUsed.length > 1" class="dropdown-divider"></div>
      <label class="dropdown-header">Search for event source</label>
      <input #searchBox (input)="searchEventSource(searchBox.value)" class="clr-input" placeholder="Search..." name="eventSourceSearch" /> <!-- TODO: implement search -->
      <ng-container *ngFor="let info of sources$ | async ; let i = index">
        <a *ngIf="i < 5" routerLink="../{{info.id}}" type="button" clrDropdownItem>{{info.name}}</a>
        <em *ngIf="i === 5" style="margin-left: 1rem;font-size:small">More event source match...</em>
      </ng-container>
      <div class="dropdown-divider"></div>
      <label class="dropdown-header">Create event source</label>
      <a type="button" clrDropdownItem routerLink="../create">Create new...</a>
      <button type="button" clrDropdownItem>Copy this event source</button>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>

<div *ngIf="false" class="modal-backdrop" aria-hidden="true">
  <span class="spinner">Loading...</span>
</div>

<!-- Content to be displayed for an event source -->
<div *ngIf="eventSourceDescriptor !== null" class="eventsource-config-main">
  <div class="system-info">
    <div class="card">
      <div class="card-header">Control</div>
      <div class="card-block">
        <ng-container *ngTemplateOutlet="esControl"></ng-container>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Base Info</div>
      <div class="card-block">
        <form clrForm clrLayout="horizontal">
          <ng-container *ngTemplateOutlet="esBaseInfo"></ng-container>
        </form>
      </div>
    </div>
  </div>
  <div class="es-info">
    <div class="card">
      <div class="card-header">Event Source Properties</div>
      <div class="card-block">
        Properties are used to configure the event source. All properties apply to every instance of this event source and thus change every widget created from this event source.
      </div>
      <div class="card-block">
        <form clrForm clrLayout="horizontal">
          <ng-container *ngTemplateOutlet="esProperties"></ng-container>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Widget Properties</div>
      <div class="card-block">
        Data Items are configuration properties that can be adjusted for each widget.
      </div>
      <div class="card-block">
        <form clrForm clrLayout="horizontal">
          <ng-container *ngTemplateOutlet="esDataItems"></ng-container>
        </form>
      </div>
    </div>
  </div>
</div>


<ng-template #esProperties>
  <app-simple-editor name="esName" [id]="'name'" [title]="'Event Source Name'" [(ngModel)]="parsedInstanceDetails.name"></app-simple-editor>
  <app-config-eventsource-editor *ngFor="let property of eventSourceDescriptor.properties" name="{{property.name}}"
    [property]="property" [(ngModel)]="parsedInstanceDetails.properties[property.name]"></app-config-eventsource-editor>
</ng-template>

<ng-template #esDataItems>
  <app-config-eventsource-editor *ngFor="let property of eventSourceDescriptor.dataItems" name="{{property.name}}"
    [property]="property" [(ngModel)]="parsedInstanceDetails.dataItems[property.name]"
    [canBeDisabled]="true" (propertyDeletion)="deleteDataItem(property.name)" ></app-config-eventsource-editor>
</ng-template>

<ng-template #esBaseInfo>
  <app-simple-editor name="esType" [id]="'type'" [title]="'Type'" [ngModel]="eventSourceDescriptor.displayName" [readOnly]="true"></app-simple-editor>
  <app-simple-editor name="esId" [id]="'id'"   [title]="'Unique ID'" [description]="'The unique ID that identifies this event source.'" [ngModel]="parsedInstanceDetails.id" [readOnly]="true"></app-simple-editor>
  <app-simple-editor name="esView" [id]="'view'" [title]="'View'" [description]="'This is the widget template that will be used to display your data.'" [(ngModel)]="eventSourceDescriptor.view" [readOnly]="true"></app-simple-editor>
  <app-simple-editor *ngIf="eventSourceDescriptor.serviceClassName" name="esRunning" [id]="'running'" [title]="'Running'" [ngModel]="serviceInfo.running ? 'yes' : 'no'" [readOnly]="true"></app-simple-editor>
  <app-simple-editor name="esCreatedBy" [id]="'created_by'" [title]="'Created By'" [ngModel]="serviceInfo.createdBy" [readOnly]="true"></app-simple-editor>
  <app-simple-editor name="esChangedBy" [id]="'changed_by'" [title]="'Changed By'" [ngModel]="serviceInfo.lastChangeBy" [readOnly]="true"></app-simple-editor>
  <app-simple-editor *ngIf="eventSourceDescriptor.serviceClassName" name="esLastSuccess" [id]="'last_success'" [title]="'Last successful run'" [ngModel]="serviceInfo.lastSuccessfulRun" [readOnly]="true"></app-simple-editor>
  <app-simple-editor *ngIf="eventSourceDescriptor.serviceClassName && serviceInfo.lastRun !== serviceInfo.lastSuccessfulRun" name="esLastRun" [id]="'last_run'" [title]="'Last run'" [ngModel]="serviceInfo.lastRun" [readOnly]="true"></app-simple-editor>
</ng-template>

<ng-template #esControl>
  <button class="btn btn-primary btn-icon" (click)="saveConfiguration()" title="Save event source configuration" [clrLoading]="saveEventSourceState">
    <clr-icon shape="floppy" class="is-solid"></clr-icon>
  </button>
  <div class="btn-group btn-default btn-icon">
    <button *ngIf="eventSourceDescriptor.serviceClassName !== null && parsedInstanceDetails.enabled && !serviceInfo.running"
      class="btn" (click)="startEventSource()" title="Start event source" [clrLoading]="startEventSourceState">
      <clr-icon shape="play" class="is-solid"></clr-icon>
    </button>
    <button *ngIf="eventSourceDescriptor.serviceClassName !== null && parsedInstanceDetails.enabled && serviceInfo.running"
      class="btn" (click)="stopEventSource()" title="Stop event source" [clrLoading]="stopEventSourceState">
      <clr-icon shape="stop" class="is-solid"></clr-icon>
    </button>
    <button *ngIf="eventSourceDescriptor.serviceClassName !== null && parsedInstanceDetails.enabled"
      class="btn" (click)="disableEventSource()" title="Disable event source" [clrLoading]="enableEventSourceState">
      <clr-icon shape="power"></clr-icon>
    </button>
    <button *ngIf="eventSourceDescriptor.serviceClassName !== null && !parsedInstanceDetails.enabled"
      class="btn" (click)="enableEventSource()" title="Enable event source" [clrLoading]="enableEventSourceState">
      <clr-icon shape="power"></clr-icon>
    </button>
    <button class="btn btn-danger" (click)="deleteEventSource()" title="Do you really want to delete this event source?" [clrLoading]="deleteEventSourceState">
      <clr-icon shape="trash"></clr-icon>
    </button>
  </div>
  <button class="btn btn-default btn-icon"(click)="showUsage()" title="Show event source usage">
    <clr-icon shape="bubble-chart"></clr-icon>
  </button>
  <clr-dropdown>
    <button type="button" class="btn btn-outline-default" title="Add event source to dashboard" clrDropdownTrigger>
      Add
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
      <button type="button" clrDropdownItem>Dashboard 1</button>
      <button type="button" clrDropdownItem>Dashboard 2</button>
    </clr-dropdown-menu>
  </clr-dropdown>
</ng-template>

