<form nz-form *ngIf="eventSourceDescriptor !== null">
  <div class="header">
    <app-header [title]="parsedInstanceDetails.name" [additional]="buttons"></app-header>
    <ng-template #buttons>
      <nz-dropdown [nzTrigger]="'click'">
        <a nz-dropdown>Add to dashboard <i nz-icon type="down"></i></a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item> <a>Dashboard A</a> </li>
          <li nz-menu-item> <a>Test dashboard</a> </li>
          <li nz-menu-item> <a>Another dashboard</a> </li>
        </ul>
      </nz-dropdown>
      <button nz-button nzType="primary" (click)="saveConfiguration()" nz-tooltip nzTitle="Save event source configuration" [nzLoading]="isSavingEventSource">
        <i nz-icon type="save" theme="fill"></i>
      </button>
      <button nz-button nzType="default" (click)="showUsage()" nz-tooltip nzTitle="Show event source usage">
        <i nz-icon type="bar-chart" theme="outline"></i>
      </button>
      <nz-button-group>
        <button *ngIf="eventSourceDescriptor.serviceClassName !== null && parsedInstanceDetails.enabled && !serviceInfo.running"
          nz-button nzType="danger" (click)="startEventSource()" nz-tooltip nzTitle="Start event source" [nzLoading]="isStartingEventSource"
          class="green"><i nz-icon type="play-circle" theme="fill"></i></button>
        <button *ngIf="eventSourceDescriptor.serviceClassName !== null && parsedInstanceDetails.enabled && serviceInfo.running"
          nz-button nzType="danger" (click)="stopEventSource()" nz-tooltip nzTitle="Stop event source" [nzLoading]="isStoppingEventSource"><i
            nz-icon type="pause-circle" theme="fill"></i></button>
        <button *ngIf="eventSourceDescriptor.serviceClassName !== null && parsedInstanceDetails.enabled" nz-button nzType="danger"
          (click)="disableEventSource()" nz-tooltip nzTitle="Disable event source" [nzLoading]="isEnablingEventSource"><i
            nz-icon type="poweroff" theme="outline"></i></button>
        <button *ngIf="eventSourceDescriptor.serviceClassName !== null && !parsedInstanceDetails.enabled" nz-button nzType="default"
          (click)="enableEventSource()" nz-tooltip nzTitle="Enable event source" [nzLoading]="isEnablingEventSource"
          class="green"><i nz-icon type="poweroff" theme="outline"></i></button>
        <button nz-button nz-popconfirm nzType="danger" nzTitle="Do you really want to delete this event source?"
          (nzOnConfirm)="deleteEventSource()"><i nz-icon type="delete" theme="outline"></i></button>
      </nz-button-group>
    </ng-template>
  </div>
  <app-header [title]="'Main'" [level]="3"></app-header>
  <app-config-eventsource-info name="esName" [id]="'name'" [title]="'Event Source Name'" [(ngModel)]="parsedInstanceDetails.name"></app-config-eventsource-info>
  <app-config-eventsource-info name="esType" [id]="'type'" [title]="'Type'" [(ngModel)]="eventSourceDescriptor.displayName" [readOnly]="true"></app-config-eventsource-info>
  <app-config-eventsource-info name="esId" [id]="'id'"   [title]="'Unique ID'" [(ngModel)]="parsedInstanceDetails.id" [readOnly]="true"></app-config-eventsource-info>
  <app-config-eventsource-info name="esView" [id]="'view'" [title]="'View'" [(ngModel)]="eventSourceDescriptor.view" [readOnly]="true"></app-config-eventsource-info>
  <app-header [title]="'Runtime'" [level]="3"></app-header>
  <app-config-eventsource-info name="esRunning" [id]="'running'" [title]="'Running'" [(ngModel)]="serviceInfo.running" [readOnly]="true"></app-config-eventsource-info>
  <app-config-eventsource-info name="esCreatedBy" [id]="'created_by'" [title]="'Created By'" [(ngModel)]="serviceInfo.createdBy" [readOnly]="true"></app-config-eventsource-info>
  <app-config-eventsource-info name="esChangedBy" [id]="'changed_by'" [title]="'Changed By'" [(ngModel)]="serviceInfo.lastChangeBy" [readOnly]="true"></app-config-eventsource-info>
  <app-config-eventsource-info name="esLastSuccess" [id]="'last_success'" [title]="'Last successful run'" [(ngModel)]="serviceInfo.lastSuccessfulRun" [readOnly]="true"></app-config-eventsource-info>
  <app-config-eventsource-info name="esLastRun" *ngIf="serviceInfo.lastRun !== serviceInfo.lastSuccessfulRun" [id]="'last_run'" [title]="'Last run'" [(ngModel)]="serviceInfo.lastRun" [readOnly]="true"></app-config-eventsource-info>
  <app-header [title]="'Properties'" [level]="3"></app-header>
  <app-config-eventsource-editor *ngFor="let property of eventSourceDescriptor.properties" name="{{property.name}}"
    [property]="property" [(ngModel)]="parsedInstanceDetails.properties[property.name]"></app-config-eventsource-editor>
  <app-header [title]="'Data Items'" [level]="3"></app-header>
  <app-config-eventsource-editor *ngFor="let property of eventSourceDescriptor.dataItems" name="{{property.name}}"
    [property]="property" [(ngModel)]="parsedInstanceDetails.dataItems[property.name]"
    [canBeDisabled]="true" (propertyDeletion)="deleteDataItem(property.name)" ></app-config-eventsource-editor>
</form>
<div *ngIf="eventSourceDescriptor === null">
  <nz-spin></nz-spin>
</div>
