
.eventsource-config-header {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

.eventsource-config-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
}

.eventsource-config-main .system-info {
  flex: 1 1 35%;
  padding-right: 24px;
}

.eventsource-config-main .es-info {
  flex: 2 2 55%;
}

clr-dropdown-menu input {
  margin-left: 1rem;
  width: 5rem;
}

