<app-header [title]="'Cached Events'" [additional]="search"></app-header>
<ng-template #search>
  <button class="btn btn-outline btn-icon btn-sm" (click)="reloadEvents()" title="Reload events"><clr-icon shape="refresh"></clr-icon></button>
  <div class="clr-control-container">
    <div class="clr-input-wrapper">
      <input class="clr-input" type="text" placeholder="Filter events" [(ngModel)]="filter"/>
    </div>
  </div>
</ng-template>

<ul class="list-group">
  <li *ngFor="let item of events | filterEventitem: filter" class="list-group-item content">
    <a class="event" (click)="item.visible = !item.visible">{{item.event.id}}
      <i *ngIf="item.visible" nz-icon type="caret-down" theme="outline"></i>
      <i *ngIf="!item.visible" nz-icon type="caret-right" theme="outline"></i>
    </a>
    <span style="float:right;">
      <app-eventsource-button [eventSourceId]="item.event.id"></app-eventsource-button>
    </span>
    <pre *ngIf="item.visible">{{item.event | json}}</pre>
  </li>
  <li *ngIf="events.length === 0" class="list-group-item no-content">No events cached</li>
</ul>
