<div *ngIf="widget !== null && eventSourceDescriptor !== null">
  <div class="card">
    <form class="clr-form-horizontal">

      <div class="card-header">
        <div *appHasRole="'dashboard.' + dashboardId + '.owner'" style="float:right"><app-eventsource-button [eventSourceId]="widget.eventSourceInstanceId"></app-eventsource-button></div>
          {{widget.name}} Configuration
      </div>
      <div class="card-block">
        <app-simple-editor name="widget_name" [id]="'widget_name'" [title]="'Name'" [(ngModel)]="widget.name" [readOnly]="false"></app-simple-editor>
        <app-simple-editor name="widget_title" [id]="'widget_title'" [title]="'Title'" [(ngModel)]="widget.title" [readOnly]="false"></app-simple-editor>
        <app-simple-editor name="widget_type" [id]="'widget_type'" [title]="'Type'" [(ngModel)]="widget.type" [readOnly]="true"></app-simple-editor>
        <app-simple-editor name="widget_pos" [id]="'widget_pos'" [title]="'Position'" [(ngModel)]="widgetPosition" [inputType]="'number'" [readOnly]="false"></app-simple-editor>
        <app-simple-editor name="widget_size" [id]="'widget_size'" [title]="'Size'" [(ngModel)]="widgetSize" [inputType]="'number'" [readOnly]="false"></app-simple-editor>
        <app-simple-editor name="widget_backgroundColor" [id]="'widget_backgroundColor'" [title]="'Background Color'" [(ngModel)]="widget.backgroundColor" [inputType]="'color'" [readOnly]="false"></app-simple-editor>
        <app-simple-editor name="widget_style" [id]="'widget_style'" [title]="'Inline CSS'" [(ngModel)]="widget.style" [readOnly]="false"></app-simple-editor>
        <ng-template #posY>
          <input class="clr-input" [(ngModel)]="widget.posY" type="number" id="info_widget_posY"/>
        </ng-template>
      </div>

      <div class="card-header">
        Display Properties
      </div>
      <div class="card-block">
        <app-config-eventsource-editor *ngFor="let property of eventSourceDescriptor.dataItems" name="property_{{property.name}}"
          [property]="property" [(ngModel)]="widget.data[property.name]" [canBeDisabled]="false" [fixed]="hasEventSourceProperty(property.name)"></app-config-eventsource-editor>
      </div>

      <div *appHasRole="'dashboard.' + dashboardId + '.editor'" class="card-footer">
        <button class="btn btn-primary" (click)="saveWidget()" [clrLoading]="saveButtonState">Save widget</button>
        <button *ngIf="!widget.enabled" (click)="enableWidget(true)" [clrLoading]="enableButtonState" class="btn btn-success">Enable</button>
        <button *ngIf="widget.enabled" (click)="enableWidget(false)" [clrLoading]="enableButtonState" class="btn btn-warning">Disable</button>
        <button class="btn btn-danger" (click)="deleteWidget()" [clrLoading]="deleteButtonState">Delete widget</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="widget === null || eventSourceDescriptor === null" class="loading">
  <span class="spinner">
    Loading...
  </span>
</div>
