<app-header [hidden]="outlet.isActivated" [title]="'Dashboards'" [level]="1"></app-header>

<app-header [hidden]="outlet.isActivated" [title]="'Existing dashboards'" [level]="2" [additional]="list"></app-header>
<ng-template #list>
  <div class="clr-input-wrapper">
    <input class="clr-input" type="text" [(ngModel)]="dashboardFilter" placeholder="Filter dashboards" id="dashboardFilter" name="dashboardFilter"/>
  </div>
</ng-template>

<div [hidden]="outlet.isActivated" class="list-group">
  <ng-container *ngFor="let dashboard of dashboards | filterEventitem:dashboardFilter">
    <div class="list-group-item content">
      <!-- FIXME: if search-filter is not empty and but role-filter removes all lines the 'empty-message' will not be displayed -->
      <!--  *appHasRole="'dashboard.' + dashboard.id + '.editor'" -->
      <a class="btn btn-link" routerLink="{{dashboard.id}}" style="margin:0;">{{dashboard.title}}</a> <span *ngIf="!dashboard.enabled">(disabled)</span>
    </div>
  </ng-container>
  <div *ngIf="(dashboards | filterEventitem:dashboardFilter).length === 0" class="list-group-item no-content">
    Your filter did not return any dashboard.
  </div>
</div>


<div *appHasRole="'server.admin'" [hidden]="outlet.isActivated">
  <app-header [title]="'Create a dashboard'" [level]="2"></app-header>

  <div class="list-group">
    <div class="list-group-item create-dashboard">
      <div class="clr-input-wrapper">
        <input #createName class="clr-input" type="text" placeholder="Dashboard ID" id="createDashboard" name="createDashboard"/>
      </div>
      <button (click)="createDashboard(createName.value);createName.value='';" class="btn btn-primary btn-icon" title="Create new dashboard">Create dashboard</button>
    </div>
  </div>
</div>


<router-outlet #outlet="outlet"></router-outlet>
