<nav class="subnav">
  <!-- TODO: highlight active menu item -->
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="./events">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./logfiles">Log Files</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./loggers">Loggers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./threads">Threads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./control">System Control</a>
    </li>
  </ul>
</nav>

<div class="content-container">
  <div class="content-area">
    <app-header [hidden]="systemOutlet.isActivated" title="System"></app-header>
    <router-outlet #systemOutlet="outlet"></router-outlet>
  </div>
</div>

