<div class="menu">
  <div class="logo" [class.collapsed]="isCollapsed">Oversigt</div>
  <ul nz-menu [nzMode]="'inline'" [nzTheme]="'light'" [nzInlineCollapsed]="isCollapsed">
    <li *ngFor="let item of itemsForUser | filterForRole" nz-submenu>
      <span title><i nz-icon type="{{item.icon}}"></i><span class="nav-text">{{item.label}}</span></span>
      <ul>
        <li *ngFor="let si of item.items | filterForRole" nz-menu-item routerLink="{{si.routerLink}}"><span title><i
              *ngIf="si.icon !== null" nz-icon type="{{si.icon}}"></i> {{si.label}}</span></li>
      </ul>
    </li>
    <li nz-menu-item (click)="doLogout()"> <i nz-icon type="logout" theme="outline"></i> Log out</li>
  </ul>
</div>
