<app-header [title]="'Edit Event Source'" [level]="1" [additional]="filter"></app-header>

<ng-template #filter>
  <div class="clr-control-container">
    <div class="clr-input-wrapper">
      <input #searchBox id="search-box" (input)="search(searchBox.value)" class="clr-input" type="text" placeholder="Filter event sources"/>
    </div>
  </div>
</ng-template>

<div class="event-source-list">
  <a *ngFor="let info of sources$ |async" class="btn btn-outline" [class.not-running]="info.service && !info.running" [class.not-enabled]="info.service && !info.enabled" [class.btn-warning-outline]="info.hasError" [class.btn-success-outline]="!info.service" routerLink="../{{info.id}}">{{info.name}}</a>
</div>

<app-header title="Legend" level="3"></app-header>
<div class="event-source-list">
    <button class="btn btn-outline btn-sm not-running" title="The event source is not running.">Not running</button>
    <button class="btn btn-outline btn-sm not-enabled" title="The event source is not enabled.">Not enabled</button>
    <button class="btn btn-outline btn-sm btn-warning-outline" title="The event source has thrown an error.">Has error</button>
    <button class="btn btn-outline btn-sm btn-success-outline" title="This event source does not run on a server but is client only.">Stand alone</button>
</div>
