<app-header *ngIf="propertyType !== null" [title]="propertyType" [additional]="create"></app-header>
<ng-template #create>
  <button nz-button nzType="default" (click)="showCreateModal(createContent)"><i nz-icon type="plus-circle"></i></button>
</ng-template>

<table *ngIf="propertyType !== null" class="table">
  <thead>
    <tr>
      <th *ngFor="let member of members" class="left"><!-- TODO: <i *ngIf="member.icon !== null" nz-icon type="{{member.icon}}"></i>-->
        {{member.displayName}}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of values">
      <td *ngFor="let member of members" class="left">{{data[member.name]}}</td>
      <td style="width:1%">
        <div class="btn-group btn-outline btn-icon btn-sm">
          <button class="btn" (click)="showEditModal(createContent, data['id'])"><clr-icon shape="pencil"></clr-icon></button>
          <button class="btn btn-danger"><clr-icon shape="trash"></clr-icon></button><!-- TODO: title="Do you really want to delete the {{propertyType}} '{{data['name']}}'?"--><!--(nzOnConfirm)="deleteValue(data['id'])"-->
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #createContent>
  <form nz-form>
    <div *ngFor="let member of members" nz-row style="margin-bottom: 1ex;">
      <div *ngIf="member.required" nz-col nzSpan="9">
        <nz-badge [nzDot]="true">
          <label>{{member.name}}</label>
        </nz-badge>
      </div>
      <div *ngIf="!member.required" nz-col nzSpan="9">
        <label>{{member.name}}</label>
      </div>
      <div nz-col nzSpan="15">
        <input *ngIf="member.type !== 'number'" nz-input [(ngModel)]="valueToCreate[member.name]" name="{{member.name}}"
          type="{{member.type}}" />
        <nz-input-number *ngIf="member.type === 'number'" [(ngModel)]="valueToCreate[member.name]"></nz-input-number>
      </div>
    </div>
  </form>
</ng-template>
