<app-header *ngIf="propertyType !== null" [title]="propertyType" [additional]="create"></app-header>
<ng-template #create>
  <button *appHasRole="'server.dashboard.owner'" class="btn btn-outline" (click)="showCreateModal()"><clr-icon shape="plus"></clr-icon> New <em>{{propertyType}}</em> entry</button>
</ng-template>

<table *ngIf="propertyType !== null" class="table">
  <thead>
    <tr>
      <th *ngFor="let member of members" class="left">
        {{member.displayName}}</th>
      <th *appHasRole="'server.dashboard.owner'">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of values">
      <td *ngFor="let member of members" class="left">{{data[member.name]}}</td>
      <td *appHasRole="'server.dashboard.owner'" style="width:1%">
        <div class="btn-group btn-icon btn-sm">
          <button class="btn" (click)="showEditModal(data['id'])" title="Edit '{{data['name']}}'"><clr-icon shape="pencil"></clr-icon></button>
          <button class="btn btn-danger" (click)="deleteValue(data['id'])" title="Delete '{{data['name']}}'"><clr-icon shape="trash"></clr-icon></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<clr-modal [(clrModalOpen)]="modalShowing" [clrModalClosable]="false">
  <h3 class="modal-title">{{modalVerb}} {{propertyType}} entry</h3>
  <div class="modal-body">
    <form class="clr-form clr-form-compact">
      <div *ngFor="let member of members" class="clr-form-control clr-row">
        <label for="{{member.name}}" class="clr-control-label clr-col-xs-12 clr-col-md-3">{{member.displayName}}</label>
        <div class="clr-control-container clr-col-xs-12 clr-col-md-9">
          <div class="clr-input-wrapper">
            <input type="{{member.type}}" id="{{member.name}}" name="{{member.name}}" [(ngModel)]="valueToCreate[member.name]" class="clr-input" />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <!--<span class="clr-subtext">Helper Text</span>-->
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="clickCancelModal()" type="button" class="btn btn-outline">Cancel</button>
    <button *ngIf="modalVerb === 'Create'" (click)="clickOkInCreateModal()" type="button" class="btn btn-primary" [clrLoading]="modalLoadingState">Create</button>
    <button *ngIf="modalVerb === 'Edit'"   (click)="clickOkInEditModal()"   type="button" class="btn btn-primary" [clrLoading]="modalLoadingState">Edit</button>
  </div>
</clr-modal>
