<app-header *ngIf="propertyType !== null" [title]="propertyType" [additional]="create"></app-header>
<ng-template #create>
  <button class="btn btn-outline" (click)="showingCreateModal = true"><clr-icon shape="plus"></clr-icon> New <em>{{propertyType}}</em> entry</button>
</ng-template>

<table *ngIf="propertyType !== null" class="table">
  <thead>
    <tr>
      <th *ngFor="let member of members" class="left"><!-- TODO: <i *ngIf="member.icon !== null" nz-icon type="{{member.icon}}"></i>-->
        {{member.displayName}}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of values">
      <td *ngFor="let member of members" class="left">{{data[member.name]}}</td>
      <td style="width:1%">
        <div class="btn-group btn-outline btn-icon btn-sm">
          <button class="btn" (click)="showEditModal(createContent, data['id'])"><clr-icon shape="pencil"></clr-icon></button>
          <button class="btn btn-danger"><clr-icon shape="trash"></clr-icon></button><!-- TODO: title="Do you really want to delete the {{propertyType}} '{{data['name']}}'?"--><!--(nzOnConfirm)="deleteValue(data['id'])"-->
        </div>
      </td>
    </tr>
  </tbody>
</table>

<clr-modal [(clrModalOpen)]="showingCreateModal">
    <h3 class="modal-title">Create {{propertyType}} entry</h3>
    <div class="modal-body">
      <form class="clr-form clr-form-compact">
        <div *ngFor="let member of members" class="clr-form-control clr-row">
          <label for="{{member.name}}" class="clr-control-label clr-col-xs-12 clr-col-md-2">{{member.displayName}}</label>
          <div class="clr-control-container clr-col-xs-12 clr-col-md-10">
            <div class="clr-input-wrapper">
              <input type="{{member.type}}" id="{{member.name}}" class="clr-input" />
              <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <!--<span class="clr-subtext">Helper Text</span>-->
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="showingCreateModal = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="showingCreateModal = false">Ok</button>
    </div>
</clr-modal>
