<app-header title="Server"></app-header>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Event Sources
            </div>
            <div class="card-block">
                <div class="card-text">
                    Start or stop <em>all</em> event sources on this server.
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-primary">
                  <button [clrLoading]="restartState" class="btn" (click)="startEventSources()" title="Start all event sources">Start all</button>
                  <button [clrLoading]="restartState" class="btn btn-warning" (click)="stopEventSources()" title="Stop all event sources">Stop all</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Server
            </div>
            <div class="card-block">
                <div class="card-text">
                    Shut down the server. Attention: There's no possibility to start the server using this UI again.
                </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-danger" (click)="shutdownServer()">Shut down Oversigt</button>
            </div>
        </div>
    </div>
</div>
