<#ftl output_format="HTML">

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	       <meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	       <title>${title}</title>
	
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/assets/config/oversigt.css">
	
		<link href="/assets/hlag/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	
		<style>
			.container>.jumbotron {
				margin-top: 2em;
			}
		</style>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</head>
	<body>
		<script type="text/javascript" src="/assets/config/oversigt.js"></script>
	
		<div class="container">
			<div class="jumbotron">
				<h1>Oversigt</h1>
				<p><strong>Welcome to Oversigt</strong>. This is the famous dashboard server.</p>
				<#if dashboards?size != 0>
				<p>There are already a number of dashboards available. You may visit them by clicking the links below:</p>
				<div class="panel panel-default">
					<div class="list-group">
						<div id="dashboardSearchList">
							<#list dashboards as dashboard>
							<div class="list-group-item">
								<form method="POST" style="margin-bottom:0px;">
									<input type="hidden" name="dashboardId" value="${dashboard.id}" />
									<a class="btn dashboardLink" href="/${dashboard.id}">${dashboard.title}</a>
								</form>
							</div>
							</#list>
						</div>
					</div>
				</div>
				<p>You can create new dashboards by navigating to <code>/dashboardName</code>.</p>
				<p>Another option is to switch to the <a href="/config">configuration page</a> to change some dashboard settings.</p>
				<#else>
				<p>There are no dashboards yet. Create one by navigating to <code>/dashboardName</code> or switch to the <a href="/config">configuration page</a> to configure your server.</p>
				</#if>				
			</div>
		</div><!-- /.container -->
	
		<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>