<app-header [hidden]="outlet.isActivated" [title]="'Dashboards'" [level]="1" [additional]="createButton"></app-header>
<ng-template #createButton>
  <button *appHasRole="'server.admin'" (click)="createModal.open()" class="btn btn-icon" title="Create new dashboard">
    <clr-icon shape="plus-circle"></clr-icon> New dashboard
  </button>
  <div class="clr-input-wrapper">
    <input class="clr-input" type="text" [(ngModel)]="dashboardFilter" placeholder="Filter dashboards"
      id="dashboardFilter" name="dashboardFilter" />
  </div>
</ng-template>


<clr-datagrid [hidden]="outlet.isActivated">
  <clr-dg-column>Dashboard</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <ng-container *ngFor="let dashboard of dashboards | filterEventitem:dashboardFilter">
    <clr-dg-row>
      <!-- FIXME: if search-filter is not empty and but role-filter removes all lines the 'empty-message' will not be displayed -->
      <!--  *appHasRole="'dashboard.' + dashboard.id + '.editor'" -->
      <clr-dg-cell>
        <a class="btn btn-link" routerLink="{{dashboard.id}}" style="margin:0;">{{dashboard.title}}</a>
      </clr-dg-cell>
      <clr-dg-cell>
        <span *ngIf="!dashboard.enabled">disabled</span>
      </clr-dg-cell>
    </clr-dg-row>
  </ng-container>
  <clr-dg-row *ngIf="(dashboards | filterEventitem:dashboardFilter).length === 0" class="list-group-item no-content">
    <clr-dg-cell>
      Your filter did not return any dashboard.
    </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>


<clr-modal #createModal [(clrModalOpen)]="createDashboardModelOpen" [clrModalClosable]="false">
  <h3 class="modal-title">Create a new dashboard</h3>
  <div class="modal-body">
    <form clrForm class="clr-form">
      <clr-input-container>
        <label>ID</label>
        <input clrInput type="text" [(ngModel)]="newDashboardName" name="newDashboardName" />
        <clr-control-helper>This will be the ID of the new dashboard. The dashboard's ID cannot be changed but you can
          change its title later.</clr-control-helper>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline"
      (click)="createDashboardModelOpen = false; newDashboardName = ''">Cancel</button>
    <button type="button" class="btn btn-primary" [disabled]="newDashboardName.length === 0"
      (click)="createDashboardModelOpen = false; createDashboard(newDashboardName)">Create</button>
  </div>
</clr-modal>

<router-outlet #outlet="outlet"></router-outlet>
