<app-header [title]="'Event Sources'" [level]="1" [additional]="list"></app-header>
<ng-template #list>
  <nz-select style="min-width: 25em;" [(ngModel)]="selectedEventSource" (ngModelChange)="selectEventSource($event)" [nzSize]="'large'">
    <nz-option *ngFor="let info of eventSourceInfos" [nzLabel]="info.name" [nzValue]="info"></nz-option>
  </nz-select>
  <!--<nz-tree-select
      style="min-width: 25em;"
      [nzNodes]="treeNodes" [nzSize]='"large"'
      nzShowSearch
      nzPlaceHolder="Select event source"
      [(ngModel)]="selectedEventSource"
      (ngModelChange)="selectEventSource($event)">
    </nz-tree-select>-->
  <!--<ul>
    <li *ngFor="let info of eventSourceInfos"><a routerLink="{{info.id}}">{{info.name}}</a></li>
  </ul>-->
</ng-template>

Choose one event source or <a routerLink="create">create</a> one.
<div *ngIf="selectedEventSource === null; else childSelected" style="display: flex; flex-direction: row; flex-wrap: wrap">
  <button *ngFor="let info of eventSourceInfos" nz-button nzStyle="default" (click)="selectEventSource(info.id)">{{info.name}}</button>
</div>

<ng-template #childSelected>
  <router-outlet></router-outlet>
</ng-template>
