<app-header [title]="'Event Sources'" [level]="1" [additional]="list"></app-header>
<ng-template #list>
  <nz-select style="min-width: 25em;" [(ngModel)]="selectedEventSource" (ngModelChange)="selectEventSource($event)" [nzSize]="'large'">
    <nz-option *ngFor="let info of eventSourceInfos" [nzLabel]="info.name" [nzValue]="info"></nz-option>
  </nz-select>
  <!--<ul>
    <li *ngFor="let info of eventSourceInfos"><a routerLink="{{info.id}}">{{info.name}}</a></li>
  </ul>-->
</ng-template>

<router-outlet *ngIf="selectedEventSource !== null; else noEventSourceSelected"></router-outlet>

<ng-template #noEventSourceSelected>
  Choose one event source or <a routerLink="create">create</a> one.
  <div style="display: flex; flex-direction: row; flex-wrap: wrap">
    <button *ngFor="let info of eventSourceInfos" nz-button nzStyle="default" (click)="selectEventSource(info)">{{info.name}}</button>
  </div>
</ng-template>
