input {
  width: 100%;
}

input[readonly] {
  border-bottom: 1px solid rgba(154, 154, 154, 0.8);
}

.clr-form-control div {
  width: 100%;
}

.two-inputs input {
  width: 49%;
}
.two-inputs *:last-child {
  width: 49%;
  float: right;
}
