<div class="array-header" style="display: flex; flex-direction: row; align-content: space-between; align-items: center; justify-content: space-between;">
  <div class="array-title">{{schemaObject.title}}</div>
  <!-- TODO: wenn der Viewport zu schmal wird, muss der zweite Teil nach unten -->
  <div class="array-buttons">
      <button nz-button [nzType]="'dashed'" (click)="addArrayItem()"><i nz-icon type="plus-circle" theme="outline"></i> {{schemaObject.title}}</button>
  </div>
</div>

<div *ngIf="value !== null; else nullValue" [ngSwitch]="displayFormat" class="array-body">
  <!-- table display -->
  <ng-container *ngSwitchCase="'table'">
    <table *ngIf="value.length > 0">
      <thead>
        <tr>
          <th *ngFor="let name of getNames(); let column = index" [style.width.%]="100 / getNames().length" class="array-column-editor">{{getTitle(column)}}</th>
          <th class="action"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of value; let row = index">
          <td *ngFor="let name of getNames(); let column = index">
            <ng-container *ngIf="hasComplexSubtype; else simpleSubtypeHeader">
              <app-json-schema [schemaObject]="schemaObject.properties[name]" [(ngModel)]="value[row][name]" [showTitles]="false"></app-json-schema>
            </ng-container>
            <ng-template #simpleSubtypeHeader>
              <app-json-schema [schemaObject]="schemaObject" [(ngModel)]="value[row]" [showTitles]="false"></app-json-schema>
            </ng-template>
          </td>
          <td>
            <div class="action">
              <button nz-button [nzType]="'dashed'" (click)="removeArrayItem(row)"><i nz-icon type="minus-circle" theme="outline"></i></button>
              <button *ngIf="row !== 0" nz-button [nzType]="'dashed'" (click)="moveItemUp(row)"><i nz-icon type="up-circle" theme="outline"></i></button>
              <button *ngIf="row !== value.length - 1" nz-button [nzType]="'dashed'" (click)="moveItemDown(row)"><i nz-icon type="down-circle" theme="outline"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <!-- tab display -->
  <ng-container *ngSwitchCase="'tabs'">
    <nz-tabset *ngIf="value.length > 0" [nzTabPosition]="'left'">
      <nz-tab *ngFor="let item of value; let row = index" [nzTitle]="getTabName(item, row)">
        <div class="array-controls">
          <button nz-button [nzType]="'dashed'" (click)="removeArrayItem(row)"><i nz-icon type="minus-circle" theme="outline"></i></button>
        </div>
        <app-json-schema [schemaObject]="schemaObject" [(ngModel)]="value[row]" [showTitles]="true"></app-json-schema>
      </nz-tab>
    </nz-tabset>
  </ng-container>

  <!-- grid display -->
  <ng-container  *ngSwitchCase="'grid'">
    <div *ngFor="let item of value; let row = index" class="array-item" style="border: 1px solid #ddd; border-radius: 4px; padding: 1em;">
      <div class="array-controls">
        <button nz-button [nzType]="'dashed'" (click)="removeArrayItem(row)"><i nz-icon type="minus-circle" theme="outline"></i></button>
      </div>
      <div>
        <app-json-schema [schemaObject]="schemaObject" [(ngModel)]="value[row]"></app-json-schema>
      </div>
    </div>
  </ng-container>

  <!-- unknown display style -->
  <nz-alert *ngSwitchDefault nzType="warning" nzMessage="Unknown array display format: {{displayFormat}}"></nz-alert>
</div>

<ng-template #nullValue>
  <div class="alert alert-danger" role="alert">
      <div class="alert-items">
          <div class="alert-item static">
              <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">ArrayEditor value is null</span>
          </div>
      </div>
  </div>
</ng-template>
