<app-header [title]="'Edit Event Source'" [level]="1" [additional]="filter"></app-header>

<ng-template #filter>
  <div class="clr-control-container">
    <div class="clr-input-wrapper">
      <input #searchBox id="search-box" (input)="search(searchBox.value)" class="clr-input" type="text" placeholder="Filter event sources"/>
    </div>
  </div>
</ng-template>

<div class="event-source-list">
  <a *ngFor="let info of sources$ |async" class="btn btn-outline" [class.not-running]="info.service && !info.running" [class.btn-warning-outline]="info.hasError" [class.btn-success-outline]="!info.service" routerLink="../{{info.id}}">{{info.name}}</a>
</div>
