<app-header [title]="'Title'"></app-header>

<div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start">
  <div style="margin: 2ex; width: 48ex; height: 27ex; box-shadow: 0 0 1ex 0 rgba(0, 0, 0, 0.2), 0 0 3ex 0 rgba(0, 0, 0, 0.19); ">
  </div>
  <div>
    <div style="margin: 1ex">
      <nz-avatar [nzText]="'3'" [nzShape]="'square'" nzSize="large" style="background-color:#567; vertical-align: middle;"></nz-avatar>
      <span style="margin-left: 1ex">Text Bla</span>
    </div>
    <div style="margin: 1ex">
      <nz-avatar [nzText]="'59'" [nzShape]="'square'" nzSize="large" style="background-color:#567; vertical-align: middle;"></nz-avatar>
      <span style="margin-left: 1ex">Other widget</span>
    </div>
  </div>
</div>
