<div *ngIf="value !== null; else nullValue" style="display: flex; flex-flow: row wrap; justify-content: space-between; align-items: stretch; align-content: flex-start">
  <div *ngFor="let name of getPropertyNames()" style="flex: 1 0 26%; ">
    <app-json-schema [schemaObject]="getProperty(name)" [(ngModel)]="value[name]" [showTitles]="showTitles"></app-json-schema>
  </div>
</div>

<ng-template #nullValue>
  <div class="alert alert-danger" role="alert">
      <div class="alert-items">
          <div class="alert-item static">
              <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">ObjectEditor value is null</span>
          </div>
      </div>
  </div>
</ng-template>
