<!--<app-header [title]="dashboardId"></app-header>-->

<div class="clr-row">
  <div class="clr-col-12 clr-col-sm-12 clr-col-md-8 clr-col-lg-6 clr-col-xl-5 info">
    <div class="card">
      <div class="card-header">
          Create Dashboard {{dashboardId}} here
      </div>
      <div class="card-block">
        some block
      </div>
    </div>
    <div *appHasRole="'server.admin'" class="card">
      <div class="card-header">
          Dashboard Rights
      </div>
      <div class="card-block">
        another block
      </div>
    </div>
  </div>
  <div class="clr-col-12 clr-col-sm-12 clr-col-md-12 clr-col-lg-9 clr-col-xl-7 info">
    <div *ngIf="!isAddingWidget()" class="card">
      <div class="card-header">
          Widgets
      </div>
      <div class="card-block">
        another block
      </div>
    </div>
  </div>
</div>
