<#ftl output_format="HTML">
<#import "../configuration_layout.ftl.html" as layout>
<#import "../roles.ftl.html" as roles>

<@layout.ConfigurationLayout "Dashboard Settings" "server.dashboard.editor">

<h2>Dashboard Settings</h2>
<form method="POST" class="form-horizontal">
	<!-- invisible default button -->
	<button type="submit" name="action" value="updateDashboard" style="position:absolute;left:-999px;top:-999px;height:0;width:0;">Save</button>
	<!-- main form -->
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label col-sm-2">Title</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" name="title" value="${dashboard.title}" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Screen Width</label>
				<div class="controls col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><a href="#" onclick="javascript:document.getElementById('screenWidth').value=screen.width;return false;" title="Use the current screen width for this dashboard">from screen</a></span>
						<input class="form-control" type="number" id="screenWidth" name="screenWidth" value="${dashboard.screenWidth}" min="640" max="16384" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Screen Height</label>
				<div class="controls col-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><a href="#" onclick="javascript:document.getElementById('screenHeight').value=screen.height;return false;" title="Use the current screen height for this dashboard">from screen</a></span>
						<input class="form-control" type="number" id="screenHeight" name="screenHeight" value="${dashboard.screenHeight}" min="640" max="16384" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Columns</label>
				<div class="col-sm-10">
					<input class="form-control" type="number" name="columns" value="${dashboard.columns}" min="6" max="32" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Background Color</label>
				<div class="col-sm-10">
					<input class="form-control" type="color" name="backgroundColor" value="${dashboard.backgroundColor}" />
				</div>
			</div>
			<script type="text/javascript">
				function toggleColorPickers(scheme) {
					switch(scheme) {
					case 'DEFAULT':
					case 'COLORED':
						document.getElementById('colorPickers').style.display='none';
						break;
					case 'SINGLE_COLOR':
						document.getElementById('colorPickers').style.display='table';
						document.getElementById('colorPickerEndLabel').style.display='none';
						document.getElementById('colorPickerEnd').style.display='none';
						document.getElementById('colorPickerStartLabel').innerHTML='Color:';
						break;
					case 'VERTICAL_GRADIENT':
					case 'HORIZONTAL_GRADIENT':
					case 'TILED_VERTICAL_GRADIENT':
					case 'TILED_HORIZONTAL_GRADIENT':
						document.getElementById('colorPickers').style.display='table';
						document.getElementById('colorPickerEndLabel').style.display='table-cell';
						document.getElementById('colorPickerEnd').style.display='table-cell';
						document.getElementById('colorPickerStartLabel').innerHTML='Start:';
						break;
					}
				}
			</script>
			<div class="form-group">
				<label class="control-label col-sm-2">Color Scheme</label>
				<div class="col-sm-10">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default<#if dashboard.colorScheme=='COLORED'> active</#if>" title="The colors will be picked by the widget configuration">
							<input name="colorScheme" value="colored" type="radio"<#if dashboard.colorScheme=='COLORED'> checked="checked"</#if> onchange="javascript:toggleColorPickers('COLORED');"/>
							Colored
						</label>
						<label class="btn btn-default<#if dashboard.colorScheme=='SINGLE_COLOR'> active</#if>" title="The whole dashboard will be colored with one single color">
							<input name="colorScheme" value="singleColor" type="radio"<#if dashboard.colorScheme=='SINGLE_COLOR'> checked="checked"</#if> onchange="javascript:toggleColorPickers('SINGLE_COLOR');"/>
							Single Color
						</label>
						<label class="btn btn-default<#if dashboard.colorScheme=='TILED_VERTICAL_GRADIENT'> active</#if>" title="A vertical gradient will be displayed whereas every widget has a solid background color">
							<input name="colorScheme" value="tiledVerticalGradient" type="radio"<#if dashboard.colorScheme=='TILED_VERTICAL_GRADIENT'> checked="checked"</#if> onchange="javascript:toggleColorPickers('TILED_VERTICAL_GRADIENT');"/>
							Tiled Vertical Gradient
						</label>
						<label class="btn btn-default<#if dashboard.colorScheme=='TILED_HORIZONTAL_GRADIENT'> active</#if>" title="A horizontal gradient will be displayed whereas every widget has a solid background color">
							<input name="colorScheme" value="tiledHorizontalGradient" type="radio"<#if dashboard.colorScheme=='TILED_HORIZONTAL_GRADIENT'> checked="checked"</#if> onchange="javascript:toggleColorPickers('TILED_HORIZONTAL_GRADIENT');"/>
							Tiled Horizontal Gradient
						</label>
						<label class="btn btn-default<#if dashboard.colorScheme=='VERTICAL_GRADIENT'> active</#if>" title="A vertical gradient will be displayed as background color">
							<input name="colorScheme" value="verticalGradient" type="radio"<#if dashboard.colorScheme=='VERTICAL_GRADIENT'> checked="checked"</#if> onchange="javascript:toggleColorPickers('VERTICAL_GRADIENT');"/>
							Vertical Gradient
						</label>
						<label class="btn btn-default<#if dashboard.colorScheme=='HORIZONTAL_GRADIENT'> active</#if>" title="A horizontal gradient will be displayed as background color">
							<input name="colorScheme" value="horizontalGradient" type="radio"<#if dashboard.colorScheme=='HORIZONTAL_GRADIENT'> checked="checked"</#if> onchange="javascript:toggleColorPickers('HORIZONTAL_GRADIENT');"/>
							Horizontal Gradient
						</label>
					</div>
					<div id="colorPickers" class="input-group">
						<span class="input-group-addon" id="colorPickerStartLabel">Start:</span>
						<input class="form-control" type="color" name="foregroundColorStart" value="${dashboard.foregroundColorStart}" id="colorPickerStart"/>
						<span class="input-group-addon" id="colorPickerEndLabel">Stop:</span>
						<input class="form-control" type="color" name="foregroundColorEnd" value="${dashboard.foregroundColorEnd}" id="colorPickerEnd"/>
					</div>
				</div>
				<script type="text/javascript">toggleColorPickers('${dashboard.colorScheme}');</script>
			</div>
		</div>
		<div class="panel-footer">
			<button class="btn btn-default" data-type="reload" name="action" value="reloadDashboard">Reload</button>
			<a class="btn btn-default" href="/${dashboard.id}" target="_blank">Go To Dashboard</a>
			<span class="pull-right">
				<@roles.ifHasRole principal "server.admin">
					<button class="btn btn-danger" data-type="delete" name="action" value="deleteDashboard" onclick="javascript:return confirm('Do you really want to delete this dashboard?')">Delete</button>
				</@roles.ifHasRole>
				<button class="btn btn-primary" data-type="settings" name="action" value="updateDashboard">Save</button>
			</span>
		</div>
	</div>
	
	<@roles.ifHasRole principal "dashboard."+dashboard.id+".editor">
		<script type="text/javascript">
			function createCheckUsernamesCallback(originalValue, target) {
				return function(data){
					if (data) {
						$(target).removeClass('invalid')
					} else {
						$(target).addClass('invalid')
					}
				};
			}
			function installUsernameCheck(input, button, formGroup, limit) {
				$(input)
				.on('tokenfield:createdtoken', function(e) {
						$.post("?", { action:"checkUsername", username:e.attrs.value }, createCheckUsernamesCallback(e.attrs.value, e.relatedTarget) );
					})
				.on('tokenfield:editedtoken', function(e) {
						$.post("?", { action:"checkUsername", username:e.attrs.value }, createCheckUsernamesCallback(e.attrs.value, e.relatedTarget) );
					})
				.tokenfield({createTokensOnBlur:true, limit:limit, minLength:4})
			}
		</script>
		<div class="panel panel-danger">
			<div class="panel-heading">
				Permissions
			</div>
			<div class="panel-body">
				<@roles.ifHasRole principal "dashboard."+dashboard.id+".owner">
				<div class="form-group" id="newOwnerFg">
					<label class="control-label col-sm-2">Owner</label>
					<div class="col-sm-10">
						<div class="input-group">
							<input class="form-control" type="text" id="newOwner" name="owner" value="${dashboard.owner!""}" />
							<span class="input-group-btn">
								<button id="newOwnerButton" class="btn btn-warning" type="button">Change Owner</button>
							</span>
						</div>
						<span id="newOwnerSuccess" class="success text-success" style="display:none">Owner has been saved.</span>
					</div>
				</div>
				<script type="text/javascript">
					installUsernameCheck('#newOwner', '#newOwnerButton', '#newOwnerFg', 1);
					$('#newOwnerButton').on('click', function(e){
						if (confirm('Do you really want to change the owner?')) {
							var usernames = $('#newOwner').tokenfield('getTokens');
							if(usernames[0].value.length > 0) {
								$('#newOwner').tokenfield('setTokens', usernames[0].value);
								$.post("?", { action:"setOwner", username:usernames[0].value }, function(data) {
									if (data) {
										$('#newOwner').tokenfield('setTokens', data);
										$('#newOwnerFg').removeClass('has-error');
										$('#newOwnerFg').addClass('has-success');
										$('#newOwnerSuccess').show();
										setTimeout(function(){$('#newOwnerFg').removeClass('has-success');$('#newOwnerSuccess').hide();}, 5000);
									} else {
										$('#newOwnerFg').addClass('has-error');
									}
								} );
							} else {
								$('#newOwnerFg').addClass('has-error');
							}
						}
					});
				</script>
				</@roles.ifHasRole>
				<div class="form-group" id="newEditorsFg">
					<label class="control-label col-sm-2">Editors</label>
					<div class="col-sm-10">
						<div class="input-group">
							<input class="form-control" type="text" id="newEditors" name="editor" value="<#list dashboard.editors as editor>${editor}<#sep>,</#list>" />
							<span class="input-group-btn">
								<button id="newEditorsButton" class="btn btn-warning" type="button" data-toggle="modal" data-target="#mdlChangeEditor">Change Editors</button>
							</span>
						</div>
						<span id="newEditorsSuccess" class="success text-success" style="display:none">Editors have been saved.</span>
					</div>
				</div>
				<script type="text/javascript">
					installUsernameCheck('#newEditors', '#newEditorsButton', '#newEditorsFg', 0);
					$('#newEditorsButton').on('click', function(e){
						var usernames = $('#newEditors').tokenfield('getTokensList');
						$.post("?", { action:"setEditors", usernames:usernames }, function(data) {
							if (data) {
								if(data!==true) {
									$('#newEditors').tokenfield('setTokens', data);
								}
								$('#newEditorsFg').removeClass('has-error');
								$('#newEditorsFg').addClass('has-success');
								$('#newEditorsSuccess').show();
								setTimeout(function(){$('#newEditorsFg').removeClass('has-success');$('#newEditorsSuccess').hide();}, 5000);
							} else {
								$('#newEditorsFg').addClass('has-error');
							}
						} );
					});
				</script>
			</div>
		</div>
	</@roles.ifHasRole>
	
</form>

</@layout.ConfigurationLayout>
