<#ftl output_format="HTML">
<#import "../configuration_layout.ftl.html" as layout>
<@layout.ConfigurationLayout "Configure Widgets" "server.dashboard.editor">

<div class="row">
	<#if dashboard.widgets?has_content>
		<div class="col-md-8 col-sm-8 col-xs-12">
			<h2>Configure Widget</h2>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12" style="margin-top:20px">
			<form>
				<label class="sr-only" for="search">Filter</label>
				<div class="input-group">
					<input type="text" class="form-control input-search" name="filterWidgetSearch" id="filterWidgetSearch" placeholder="Filter Widgets">
					<span class="input-group-addon group-icon">
						<span class="glyphicon glyphicon-search" ></span>
					</span>
				</div>
			</form>
		</div>
	</#if>
</div>

<#if dashboard.widgets?has_content>
	<div class="panel panel-default">
		<div class="panel-body">
			<ul class="list-inline nav nav-pills" id="filterWidgetSearchList">
				<#list dashboard.widgets as widget>
				<li<#if widget?counter==1> class="active"</#if>>
					<a data-toggle="pill" href="#widget${widget.id}"<#if !widget.enabled> style="color:gray"</#if>>${widget.name}</a>
				</li>
				</#list>
			</ul>
		</div>
	</div>
</#if>
	
<div class="tab-content">
	<#if dashboard.widgets?has_content>
		<#list dashboard.widgets as widget>
		<#assign activeItem = widget?counter==1>
		<#assign activeIndex = widget?counter>
			<div class="tab-pane <#if widget?counter==1>in active</#if>" id="widget${widget.id}">
				<#include 'widget.ftl.html'>
			</div>
		</#list>
	<#else>
		<div class="jumbotron">
			<h1>Add Widgets</h1>
			<p><a href="addWidget">Add widgets</a> to get started with your dashboard! If there are no widgets available you need to create event sources first.</p>
		</div>
	</#if>
	
</div>

<script type="text/javascript">
	$(document).ready(function(){
		installFilterSearch('#filterWidgetSearch', '#filterWidgetSearchList>li', function (e) { return getFilterTextByInputs(e.find('> a').attr('href')); });
	});
</script>
</@layout.ConfigurationLayout>
