<included>
	<appender name="db" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>log/db.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">        
	        <!-- daily rollover -->
	        <fileNamePattern>log/db.%d{"yyyy-MM-dd", UTC}.log</fileNamePattern>
	        <maxHistory>30</maxHistory>
	    </rollingPolicy>
	    <encoder>
			<pattern>%date{"HH:mm:ss.SSS", UTC} [%thread] %-5level - %msg%n</pattern>
	    </encoder>
	</appender>	

	<!-- logger only for special purposes -->
	<logger name="db" level="INFO" additivity="false">
		<appender-ref ref="db" />
	</logger>
</included>
