<app-header [title]="'Create Event Source'" [additional]="search"></app-header>
<ng-template #search>
  <div class="clr-control-container">
    <div class="clr-input-wrapper">
      <input class="clr-input" type="text" placeholder="Filter event sources" [(ngModel)]="searchText"/>
    </div>
  </div>
</ng-template>

<div class="row">
  <div *ngFor="let info of filteredEventSourceInfos | filterEventsourceinfo: searchText as result" class="content col-lg-3 col-md-6 col-sm-12 col-xs-12"
        title="Create an event source of type '{{info.name}}'">
    <div class="card">
      <div class="card-header">
          {{info.name}}
      </div>
      <div *ngIf="info.image" class="card-img">
        <img src="{{getImageLink(info.image)}}" alt="Event source preview" />
      </div>
      <div *ngIf="info.description !== null" class="card-block">
        <div class="card-text">
          {{info.description}}
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="createEventSource(info.key)">Create Event Source</button>
      </div>
    </div>
  </div>
  <div class="no-content">
    Your filter did not return any event source.
  </div>
</div>
